body{
    display: flex;
}

nav{
    width: calc(100% - 64px);
    padding-left: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    >div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
}

.logo{
    >img{
        height: 64px;
        width: 64px;
    }
}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 300px;
    & a:hover{
        color: red;
    }
}

a{
    text-decoration: none;
    color: white;
/*     &:hover{
        color: red;
    } */
}

.phone-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border: solid 3px white;
    border-radius: 10px;
    width: 150px;
    height: 35px;
    >img{
        height: 30px;
        width: 30px;
    }
    &:hover{
        text-decoration: underline;
        background-color: rgba(255, 0, 0, 0.479);
    }
}