<section>
    <div>
        <h1>OUR MENU</h1>
    </div>
    <div class="meals">
        <div>
            <img src="img/R1.png" alt="">
            <div>
                <h1>Tonkotsu Ramen</h1>
                <table>
                    <tr>
                        <td>Chicken</td>
                        <td>11.95€</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td>12.95€</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td>13.95€</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="spicy-rahmen-container">
            <img src="img/R2.png" alt="">
            <div>
                <h1>Spicy Miso Ramen</h1>
                <table>
                    <tr>
                        <td>Chicken</td>
                        <td>11.95€</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td>12.95€</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td>13.95€</td>
                    </tr>
                </table>
            </div>
        </div>
        <div>
            <img src="img/R3.png" alt="">
            <div>
                <h1>Shio Ramen</h1>
                <table>
                    <tr>
                        <td>Chicken</td>
                        <td>11.95€</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td>12.95€</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td>13.95€</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>